.exercise {
    --padding: 18px;

    display: flex;
    background-color: var(--white-color);
    flex-direction: column;
    height: calc(100vh - 2 * var(--padding));
    padding: var(--padding);
}

.exercise .title {
    margin: 10px;
}

.exercise .main-content {
    background-color: var(--secondary-color);
    border-radius: var(--default-radius);
    flex: 1;
    padding-bottom: 40px;
    overflow: hidden;
    overflow-y: auto;
}

.exercise .question-count {
    text-align: center;
}

.exercise .result-title {
    text-align: center;
    margin-bottom: 40px;
}

.exercise .correct-count {
    text-align: center;
    font-size: 18px;
    margin: 8px;
}

.exercise > .results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
