.multiple-choice .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.multiple-choice .answer-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
