.name-popup {
    --height: 300px;
    --width: 450px;

    padding: 20px;
    position: fixed;
    z-index: 99;
    top: calc(50% - var(--height) / 2 - 20px);
    left: calc(50% - var(--width) / 2 - 20px);
    height: fit-content;
    width: var(--width);
    background-color: var(--white-color);
    border-radius: var(--default-radius);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.name-popup .title {
    color: var(--text-color);
}
