.profile {
    display: flex;
    height: 100%;
    gap: 20px;
}

.profile .info {
    flex: 0.6;
}

.profile .info .display-name {
    margin: 0;
}

.profile .info .username {
    font-weight: normal;
    margin-top: 5px;
}

.profile .content {
    flex: 1.4;
}

.profile .content > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile .section-header {
    margin: 0;
}

.profile .name-input-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
}
