.course-card {
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color);
  display: flex;
  border: none;
  border-radius: 40px;
  height: 237px;
  padding: 0;
  overflow: hidden;
}

.course-card .info-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

.course-card .current-lesson {
  text-align: start;
  padding-left: 30px;
  font-size: 18px;
}

.course-card .course-header {
  --padding: 30px;

  display: flex;
  justify-content: space-between;
  padding: 0 var(--padding);
  height: 46%;
  width: calc(100% - 2 * var(--padding));
  align-items: center;
}

.course-card .course-header > .course-title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  height: fit-content;
}

.course-card .course-header > .course-logo {
  height: 60%;
}
