.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}

.popup {
    --height: 300px;
    --width: 450px;

    text-align: start;
    padding: 20px;
    position: fixed;
    z-index: 99;
    top: calc(50% - var(--height) / 2 - 20px);
    left: calc(50% - var(--width) / 2 - 20px);
    height: fit-content;
    max-height: var(--height);
    width: var(--width);
    background-color: white;
    /* background-color: var(--white-color); */
    border-radius: var(--default-radius);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow-y: scroll;
}

.popup .menu {
    display: flex;
    gap: 5px;
    /* justify-content: end; */
}

.popup .body-text {
    font-weight: normal;
}
