.popup {
  --height: 300px;
  --width: 450px;

  padding: 20px;
  position: fixed;
  z-index: 99;
  top: calc(50% - var(--height) / 2);
  left: calc(50% - var(--width) / 2);
  height: var(--height);
  width: var(--width);
  background-color: var(--white-color);
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.popup .menu {
  display: flex;
  justify-content: space-between;
}

.popup .body-text {
  font-weight: normal;
}
