.top-navbar {
    --padding: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 50px; */
    width: calc(100% - 2 * var(--padding));
    background-color: var(--secondary-color);
    border-radius: var(--default-radius);
    /* padding-left: var(--padding);
  padding-right: var(--padding); */
    padding: var(--padding);
}

.top-navbar .nav-button {
    width: fit-content;
}

.top-navbar .input-container {
    width: 30%;
    min-width: 240px;
}
