.course-completion {
    --padding: 18px;

    display: flex;
    background-color: var(--white-color);
    flex-direction: column;
    height: calc(100vh - 2 * var(--padding));
    padding: var(--padding);
}

.course-completion .title {
    margin: 10px;
}

.course-completion .main-content {
    background-color: var(--secondary-color);
    border-radius: var(--default-radius);
    flex: 1;
    padding-bottom: 40px;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.course-completion .question-count {
    text-align: center;
}

.course-completion .result-title {
    text-align: center;
    margin-bottom: 40px;
}

.course-completion .correct-count {
    text-align: center;
    font-size: 18px;
    margin: 8px;
}

.course-completion .certificate-container {
    overflow: hidden;
    flex: 1;
    padding: 0 40px;
}
